body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 1s;
}

.button {
    transition: background 1s;
}

p {
    transition: color 1s;
}

.temp {
    transition: color 1s;
}